In [1]:
import pandas as pd
import numpy as np
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('data2.csv')
df = df.drop(df.index[0])
df

,Bulan,No.,No_laporan,Tanggal_laporan,Tanggal_penilaian,No.SP,Tanggal SP,Nama debitur,Nama Pemberi Tugas,Tujuan,...,ppn,Indikasi_nilai,Kesimpulan_nilai,Laporan short report/long report,Titik Koordinat,Nama Pemegang Hak Objek,Jumlah_kamar,Jumlah_kamarmandi,Jumlah_lantai,Lokasi.1
1,BASE_DIR = os.path.dirname(os.path.dirname(os....,1.0,00137/2.0045-02/PI/07/PS.0205/1/VI/2021,02 Juni 2021,28 Mei 2021,280501.02-PNR/SIG-MLG/AIG/V/21,28 Mei 2021,Agung Prasetyo,PT. Bank Mandiri (Persero) Tbk.,Penjaminan Utang,...,120000.0,2400000.0,5.740000e+08,Short Report,"-7.913450, 112.665797",AGUNG PRASETYO,3.0,2.0,2.0,PinggirKota
2,NaN,2.0,00138/2.0045-02/PI/07/PS.0205/1/VI/2021,02 Juni 2021,31 Mei 2021,310502.02-PNR/SIG-MLG/AIG/V/21,31 Mei 2021,Hariyanto Erifin,PT. Bank CIMB Niaga Tbk.,Penjaminan Utang,...,120000.0,4500000.0,5.130000e+08,Short Report,"-7.951828, 112.576288",HARIYANTO ERIFIN,2.0,1.0,1.0,PusatKota
3,NaN,3.0,00139/2.0045-02/PI/07/PS.0205/1/VI/2021,04 Juni 2021,02 Juni 2021,280502.02-PNR/SIG-MLG/AIG/V/21,28 Mei 2021,Vivin Nurlaila,PT. Bank Mandiri (Persero) Tbk.,Penjaminan Utang,...,120000.0,900000.0,4.150000e+08,Short Report,"-8.095707, 112.616644",MARIATUL ULFA,3.0,1.0,1.0,PinggirKota
4,NaN,4.0,00140/2.0045-02/PI/07/PS.0205/1/VI/2021,04 Juni 2021,03 Juni 2021,020603.02-PNR/SIG-MLG/AIG/VI/21,02 Juni 2021,Susy Pratiwi,PT. Bank Mandiri (Persero) Tbk.,Penjaminan Utang,...,120000.0,2900000.0,3.820000e+08,Short Report,"-7.901398, 112.671122",SUSY PRATIWI,2.0,1.0,1.0,PinggirKota
5,NaN,5.0,00141/2.0045-02/PI/07/PS.0205/1/VI/2021,07 Juni 2021,03 Juni 2021,020604.02-PNR/SIG-MLG/AIG/VI/21,02 Juni 2021,Gyndra Joevilka Arleo,PT. Bank Mandiri (Persero) Tbk.,Penjaminan Utang,...,120000.0,2400000.0,4.060000e+08,Short Report,"-7.917422, 112.621929",GYNDRA JOEVILKA ARLEO ditulis juga GYNDRA JOEV...,1.0,1.0,1.0,PinggirKota
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,NaN,25.0,00208/2.0045-02/PI/07/PS.0205/1/VII/2021,23 Juli 2021,30 Juni 2021,280601.02-PNR/SIG-MLG/AIG/VI/21,28 Juni 2021,CV Ababil,PT. Bank Negara Indonesia (Persero) Tbk.,Lelang,...,363636.0,230000.0,4.787000e+08,Long Report,"-8.038443, 113.133798",SAENI alias BOK RIRIN,0.0,0.0,0.0,PinggirKota
73,NaN,26.0,00209/2.0045-02/PI/07/PS.0205/1/VII/2021,23 Juli 2021,30 Juni 2021,280601.02-PNR/SIG-MLG/AIG/VI/21,28 Juni 2021,CV Ababil,PT. Bank Negara Indonesia (Persero) Tbk.,Lelang,...,454545.0,45000.0,1.900000e+08,Long Report,"-8.038443, 113.133798",SAINI alias RINI,2.0,1.0,1.0,PinggirKota
74,NaN,27.0,00210/2.0045-02/PI/07/PS.0205/1/VII/2021,23 Juli 2021,22 Juli 2021,210701.02-PNR/SIG-MLG/AIG/VII/21,21 Juli 2021,Angga Wigas Aritama,"PT. Bank Syariah Indonesia, Tbk.",Penjaminan Utang,...,120000.0,2600000.0,5.020000e+08,Short Report,"-7.907365, 112.655044","NUR CHASANAH, FARIDA, HJ. SITI AMINAH, SYAMSUL...",4.0,2.0,2.0,PinggirKota
75,NaN,28.0,00211/2.0045-02/PI/07/PS.0205/1/VII/2021,23 Juli 2021,22 Juli 2021,210702.02-PNR/SIG-MLG/AIG/VII/21,21 Juli 2021,Hari Prajitno,PT. Bank Mandiri (Persero) Tbk.,Penjaminan Utang,...,120000.0,6200000.0,3.894000e+09,Short Report,"-7.940199, 112.655719",Nyonya DEWI TISNAWATI,2.0,1.0,1.0,PusatKota
76,Agustus,1.0,00212/2.0045-02/PI/07/PS.0205/1/VIII/2021,02 Agustus 2021,05 Juli 2021,160605.02-PNR/SIG-MLG/AIG/VI/21,16 Juni 2021,Susmiati,PT. Bank CIMB Niaga Tbk.,Lelang,...,363636.0,1800000.0,4.284000e+08,Long Report,"-7.819947, 111.997559","SUSMIATI, Sarjana Keperawatan, Magister Pendid...",2.0,1.0,1.0,PusatKota

In [3]:
column =  df.columns.tolist()
print(column)

['Bulan', 'No.', 'No_laporan', 'Tanggal_laporan', 'Tanggal_penilaian', 'No.SP', 'Tanggal SP', 'Nama debitur', 'Nama Pemberi Tugas', 'Tujuan', 'Obyek', 'Lokasi', 'Kota/Kabupaten', 'LT', 'LB', 'CP', 'Supervisi', 'Penilai', 'Pelaksana', 'Fee_total', 'dpp', 'ppn', 'Indikasi_nilai', 'Kesimpulan_nilai', 'Laporan short report/long report', 'Titik Koordinat', 'Nama Pemegang Hak Objek', 'Jumlah_kamar', 'Jumlah_kamarmandi', 'Jumlah_lantai', 'Lokasi.1']

# SETTING DATA FEATURES

In [4]:
features = ["Kota/Kabupaten", 
"LT", 
"LB",
"Tujuan",
"Obyek",
"Fee_total",
"dpp",
"ppn", 
"Indikasi_nilai",
"Jumlah_kamar",
"Jumlah_kamarmandi",
"Jumlah_lantai",
"Lokasi.1",
]

data_features = df[features]
data_features

,Kota/Kabupaten,LT,LB,Tujuan,Obyek,Fee_total,dpp,ppn,Indikasi_nilai,Jumlah_kamar,Jumlah_kamarmandi,Jumlah_lantai,Lokasi.1
1,Kab. Malang,90.0,108.0,Penjaminan Utang,Rumah Tinggal,1320000.0,1200000.0,120000.0,2400000.0,3.0,2.0,2.0,PinggirKota
2,Kab. Malang,78.0,36.0,Penjaminan Utang,Rumah Tinggal,1320000.0,1200000.0,120000.0,4500000.0,2.0,1.0,1.0,PusatKota
3,Kab. Malang,249.0,98.0,Penjaminan Utang,Rumah Tinggal,1320000.0,1200000.0,120000.0,900000.0,3.0,1.0,1.0,PinggirKota
4,Kab. Malang,71.0,44.0,Penjaminan Utang,Rumah Tinggal,1320000.0,1200000.0,120000.0,2900000.0,2.0,1.0,1.0,PinggirKota
5,Kota Malang,102.0,37.0,Penjaminan Utang,Rumah Tinggal,1320000.0,1200000.0,120000.0,2400000.0,1.0,1.0,1.0,PinggirKota
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Kab. Lumajang,1148.0,158.0,Lelang,Rumah Tinggal,4000000.0,3636364.0,363636.0,230000.0,0.0,0.0,0.0,PinggirKota
73,Kab. Lumajang,4222.0,0.0,Lelang,Tanah Kosong,5000000.0,4545455.0,454545.0,45000.0,2.0,1.0,1.0,PinggirKota
74,Kab. Malang,81.0,62.0,Penjaminan Utang,Rumah Tinggal,1320000.0,1200000.0,120000.0,2600000.0,4.0,2.0,2.0,PinggirKota
75,Kota Malang,355.0,424.0,Penjaminan Utang,Rumah Tinggal,1320000.0,1200000.0,120000.0,6200000.0,2.0,1.0,1.0,PusatKota
76,Kota Kediri,138.0,100.0,Lelang,Rumah Tinggal,4000000.0,3636364.0,363636.0,1800000.0,2.0,1.0,1.0,PusatKota

# Categorical Encode

In [5]:
# Assuming df is your DataFrame and the columns are categorical
categorical_columns = ["Kota/Kabupaten", "Tujuan", "Obyek", "Lokasi.1"]

# Use one-hot encoding for categorical columns
X = pd.get_dummies(data_features, columns=categorical_columns)
X

,LT,LB,Fee_total,dpp,ppn,Indikasi_nilai,Jumlah_kamar,Jumlah_kamarmandi,Jumlah_lantai,Kota/Kabupaten_Kab. Banyuwangi,...,Kota/Kabupaten_Kota Kediri,Kota/Kabupaten_Kota Madiun,Kota/Kabupaten_Kota Malang,Tujuan_Lelang,Tujuan_Penjaminan Utang,Obyek_Ruko/Rukan,Obyek_Rumah Tinggal,Obyek_Tanah Kosong,Lokasi.1_PinggirKota,Lokasi.1_PusatKota
1,90.0,108.0,1320000.0,1200000.0,120000.0,2400000.0,3.0,2.0,2.0,0,...,0,0,0,0,1,0,1,0,1,0
2,78.0,36.0,1320000.0,1200000.0,120000.0,4500000.0,2.0,1.0,1.0,0,...,0,0,0,0,1,0,1,0,0,1
3,249.0,98.0,1320000.0,1200000.0,120000.0,900000.0,3.0,1.0,1.0,0,...,0,0,0,0,1,0,1,0,1,0
4,71.0,44.0,1320000.0,1200000.0,120000.0,2900000.0,2.0,1.0,1.0,0,...,0,0,0,0,1,0,1,0,1,0
5,102.0,37.0,1320000.0,1200000.0,120000.0,2400000.0,1.0,1.0,1.0,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,1148.0,158.0,4000000.0,3636364.0,363636.0,230000.0,0.0,0.0,0.0,0,...,0,0,0,1,0,0,1,0,1,0
73,4222.0,0.0,5000000.0,4545455.0,454545.0,45000.0,2.0,1.0,1.0,0,...,0,0,0,1,0,0,0,1,1,0
74,81.0,62.0,1320000.0,1200000.0,120000.0,2600000.0,4.0,2.0,2.0,0,...,0,0,0,0,1,0,1,0,1,0
75,355.0,424.0,1320000.0,1200000.0,120000.0,6200000.0,2.0,1.0,1.0,0,...,0,0,1,0,1,0,1,0,0,1
76,138.0,100.0,4000000.0,3636364.0,363636.0,1800000.0,2.0,1.0,1.0,0,...,1,0,0,1,0,0,1,0,0,1

# Setup data target

In [6]:
y = df.Kesimpulan_nilai

In [7]:
## Replace 0 with mean value

X.Indikasi_nilai = df.Indikasi_nilai.replace(0, X.Indikasi_nilai.mean())

## Change data to All INT

In [8]:
X = X.astype(int)
y = y.astype(int)

In [9]:
##Check Columns Types

X.dtypes

LT                                int64
LB                                int64
Fee_total                         int64
dpp                               int64
ppn                               int64
Indikasi_nilai                    int64
Jumlah_kamar                      int64
Jumlah_kamarmandi                 int64
Jumlah_lantai                     int64
Kota/Kabupaten_Kab. Banyuwangi    int64
Kota/Kabupaten_Kab. Jember        int64
Kota/Kabupaten_Kab. Lumajang      int64
Kota/Kabupaten_Kab. Malang        int64
Kota/Kabupaten_Kab. Nganjuk       int64
Kota/Kabupaten_Kab. Pasuruan      int64
Kota/Kabupaten_Kota Batu          int64
Kota/Kabupaten_Kota Kediri        int64
Kota/Kabupaten_Kota Madiun        int64
Kota/Kabupaten_Kota Malang        int64
Tujuan_Lelang                     int64
Tujuan_Penjaminan Utang           int64
Obyek_Ruko/Rukan                  int64
Obyek_Rumah Tinggal               int64
Obyek_Tanah Kosong                int64
Lokasi.1_PinggirKota              int64
Lokasi.1_PusatKota                int64
dtype: object

In [10]:
y.dtypes

dtype('int64')

# Random Forest Regressor

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Random Forest Regressor
rf_regressor = RandomForestRegressor()
rf_regressor.fit(X_train, y_train)

# Make predictions on the test set
predictions = rf_regressor.predict(X_test)

# Evaluate the model
#rmse = np.sqrt(mean_squared_error(y_test, predictions))
#print(f'Mean Squared Error: {rmse}')

# Check y_test and Predictions

In [12]:
y_test

5      406000000
36    1658100000
11     618000000
1      574000000
46     350000000
48     255000000
66     591650000
54     583000000
51    1211500000
29     498000000
68     206400000
71     450230000
19    2883000000
13     710000000
59    1060000000
34     488000000
Name: Kesimpulan_nilai, dtype: int64

In [13]:
for x in predictions:
    print(x)

464974000.0
1769416000.0
617160000.0
856961000.0
446056000.0
433208000.0
708410000.0
652961000.0
1091153000.0
514260000.0
761200500.0
510671500.0
2686571000.0
347765000.0
938535000.0
714488500.0

In [14]:
predictions

array([4.649740e+08, 1.769416e+09, 6.171600e+08, 8.569610e+08,
       4.460560e+08, 4.332080e+08, 7.084100e+08, 6.529610e+08,
       1.091153e+09, 5.142600e+08, 7.612005e+08, 5.106715e+08,
       2.686571e+09, 3.477650e+08, 9.385350e+08, 7.144885e+08])

# Evaluation

## Mean Squared Error

In [15]:
# Mean Squared Error
error = abs(y_test - predictions)

total_error = sum(error)
mean_error = total_error / len(y_test)

print("Total Error:")
print(total_error)

print("Mean Error:")
print(mean_error)

Total Error:
2573542500.0
Mean Error:
160846406.25

#

In [16]:
import numpy as np

# Assuming y_test and predictions are your actual and predicted values
percentage_error = (   abs(y_test - predictions) / y_test) * 100

mean_percentage_error = np.mean(percentage_error)

print("Mean Percentage Error:")
print(mean_percentage_error)

Mean Percentage Error:
38.1788238954881

In [17]:
(sum(error)/sum(y_test))*100

20.51795520645976

In [18]:
total_percentage_error = (np.sum(error) / np.sum(y_test)) * 100

print("Error to Total Test Value")
print(total_percentage_error)

Error to Total Test Value
20.51795520645976

# Compare to linier regression

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Linear Regression model
linear_reg_model = LinearRegression()
linear_reg_model.fit(X_train, y_train)

# Make predictions on the test set
predictlinier = linear_reg_model.predict(X_test)

# Evaluate the model
rmse = np.sqrt(mean_squared_error(y_test, predictlinier))
print(f'Mean Squared Error: {rmse}')

Mean Squared Error: 494680959.60575086

In [20]:
error2 = abs(y_test - predictlinier)

total_error2 = sum(error2)
mean_error2 = total_error2 / len(y_test)

print("Total Error:")
print(total_error2)

print("Mean Error:")
print(mean_error2)

Total Error:
6147768580.537827
Mean Error:
384235536.28361416

In [21]:
predictions

array([4.649740e+08, 1.769416e+09, 6.171600e+08, 8.569610e+08,
       4.460560e+08, 4.332080e+08, 7.084100e+08, 6.529610e+08,
       1.091153e+09, 5.142600e+08, 7.612005e+08, 5.106715e+08,
       2.686571e+09, 3.477650e+08, 9.385350e+08, 7.144885e+08])